.allBorder {
    border: .5px solid #c5c2c2;
}

.tableRow {
    font-size: 11px;
    font-weight: 500;
}

.tableRowInvoiceNo {
    font-size: 11px;
    font-weight: 600;
}

.tableCol {
    font-size: 11px;
    font-weight: 500;
    text-align: end;
}

.bottomNote {
    font-size: 10px;
    font-weight: 500;
}